@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: "montserrat";
    background-color: steelblue;
    color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
   
}
.container{
    background-color: rgba(0,0,0,0.3);
    padding: 20px 40px;
    border-radius: 10px;
}
.container h1{
    text-align: center;
    margin: 30px;
}
.container a{
    text-decoration: none;
    color: lightblue;
}
.btn{
    background: lightblue;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    padding: 15px;
    border: 0;
    border-radius: 10px;
}
.btn:focus{
    outline: 0;
}
.btn:active{
    transform: scale(0.98);
}
.text{
    margin: 30px;
}
.form-control{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}
.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 1.2rem;
    color: #fff;
}
.form-control input:focus,
.form-control input:valid{
    outline: 0;
}
.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
}
.form-control label span{
    font-size: 1.2rem;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68,-0.55,0.268,1.55);
}
.form-control input:focus + label span,
.form-control input:valid + label span{
    color: lightblue;
    transform: translateY(-30px);
}